---
import { Page, serviceClientConfig } from "@tyzo/core";

export const prerender = false;

const spaceId = __TYZO_SPACE_ID__;
let treeId = __TYZO_TREE_ID__;

const client = serviceClientConfig({ spaceId });
if (!treeId) {
  const trees = await client.trees.list({
    filters: { alias: { equals: "main" } },
  });
  treeId = trees.data[0].id;
}

const { data } = await client.pages.list({
  filters: { treeId: { equals: treeId } },
});

const path = "/" + (Astro.params.path ?? "");
const page = data.find((page) => page.path === path);

const title = page?.title;

const { default: components } = await import(__TYZO_COMPONENT_IMPORT__);
if (!page) {
  return Astro.redirect("/404");
}

const { default: Layout } = __TYZO_LAYOUT_IMPORT__
  ? await import(__TYZO_LAYOUT_IMPORT__)
  : { default: null };
---

{
  Layout ? (
    <Layout page={page}>
      <Page components={components} data={page.content} />
    </Layout>
  ) : (
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
      </head>
      <body>
        <Page components={components} data={page.content} />
      </body>
    </html>
  )
}
